/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

div {
    /* border: 1px solid #ccc; */
    
}

body{
    /* margin: 20px; */
    background-color: darkgrey;
    background-image: url('./assets/background_low.jpg');
}

hr{
    margin: 15px;
}

h2{
    font-size: 20px;
}
